html,body {
  height:100%;
}

h1 {
  display: inline-block;
  margin-left: 9%;
  font-family: 'Courier New';
  font-size:80px;
  color:#DDCCEE;
}

p{
  font-family: 'Montserrat';
}

.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white }
}

.blinking {
    display: inline-block;
    width:100px;
    height:75px;
    border-left:3px solid black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
}

.img-responsive{
      display: inline-block;
  }
